
<div class="body_wrapper">
    <div class="left_searchgem_warpper">
        <div class="logo">
            <h3>teachable</h3>
        </div>
        <div class="options">
            <p>hello</p>
            <p>hello2</p>
        </div>
    </div>
    <div class="right_searchgem_wrapper">
        <h1 class="search_title">search gems</h1>

        <form id="search_gems">
            <div class="search_wrapper">
                <input class="search_input" type="text" name="" value="" placeholder="search">
                <span class="magnifying_glass"></span>
            </div>
        </form>
        <div class="search_result" id="whaa">
            <p>textarea</p>
        </div>
    </div>
</div>
