<div class="left_searchgem_warpper">
    <div class="logo">
        <h3>teachable</h3>
    </div>
    <div class="options">
        <%= link_to 'search', '/' %>
        <%= link_to 'favorites', '/favorites' %>
    </div>
</div>
