.body_wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    .left_warpper {
        flex: 1;
        background: url(/assets/map.png) no-repeat center;
        background-size: 100% 100%;
        width: 350px;
        .logo {
            height: 10%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            h3 {
                font-size: 18px;
                color: white;
                width: 100px;
            }

        }
        .nav {
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 50%;
            text-transform: capitalize;
            .link {
                width: 100px;
                padding: 10px 10px;
                margin: 5px;
            }
            a {
                text-transform: capitalize;
                color: white;
            }
        }
    }
    .right_wrapper {
        flex: 2.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 100px;
        .right_title {
            padding: 0 30px;
            text-transform: capitalize;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .search_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            .search_input {
                border-radius: 40px;
                height: 65px;
                width: 75%;
                padding: 0 30px;
                text-transform: capitalize;
            }
            .magnifying_glass_icon {
                background: url(/assets/magnifying-glass.png);
                width: 20px;
                height: 20px;
                transform: translateX(-50px);
                border: none;
            }
        }
        .result_wrapper {
            flex: 4;
            margin: 10px 30px 0 30px;
            #render_no_match {
                margin: 20px 0 10px;
                padding-right: 25%;
                p {
                    text-align: center;
                }
            }
            .render_results {
                margin: 30px 0;

                .render_title {
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                }
                .render_text {
                    font-weight: 300;
                    color: #9E9E9E;
                }
                .title_and_star_column {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-between;
                    max-height: 200px;
                }
                .title_and_star_row {
                    display: flex;
                    flex-direction: row;
                    height: 30px;
                    .star_icon {
                        background: url(/assets/star-gray.png) no-repeat center;
                        width: 20px;
                        height: 20px;
                        margin: 0 10px;
                        &:hover {
                            background: url(/assets/star-blue.png) no-repeat center;
                        }
                    }

                }
            }
        }
    }
}
.active {
    background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 680px) {

        .body_wrapper {
            flex-direction: column;
            .left_warpper {
                width: 100%;
                background-size: 100%;
                .nav {
                    flex-direction: row;
                    align-items: none;
                    padding-bottom: 0;
                    text-align: center;
                }
            }
            .right_wrapper {
                padding:0;
                text-align: center;
                .result_wrapper {
                    .search_wrapper{
                        .search_input {
                            width: 100%;
                        }
                    }
                    .render_results {
                        margin: 0;
                        .title_and_star_column {
                            .title_and_star_row {
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }

}
